#quick-view {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    table-layout: fixed;
}

#monitor-access {
    margin-left: 100px;
    width: 700px;
    text-align: center;
}

#user-management {
    margin-right: 100px;
    width: 700px;
    text-align: center;
}

#access-list-table {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0;
}
#access-list-header, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child() {
    background-color: #f9f9f9;
    width: 30%;
}
tr:hover {
    background-color: #f1f1f1;
}
tbody{
    display: block;
    overflow-y: auto;
    height: 500px;
}
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}