ul {
    list-style-type: none;
    border-style: solid;
    border-radius: 15px;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

li{
    padding: 10px 30px 10px 30px;
    margin-left: -40px;
}

li:hover {
    background-color: whitesmoke;
}

#users {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10%;
    width: 25%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.collapse {
    background-color: #89CFF0;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    outline: none;
    font-size: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.collapse:hover {
    background-color: whitesmoke;
}

.user-list {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

#add-remove-button *{
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    background-color: #89CFF0;
    text-align: center;
    width: 105px;
    height: 50px;
    font-weight: bold;
}

#add-remove-button:hover *{
    cursor: pointer;
}

#add-button {
    float: left;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

#remove-button {
    float: right;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

#machine-name {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#edit-machines {
    float: left;
    width: 500px;
    display: flex;
    text-align: center;
    float: left;
    width: 50vh;
}

.status-button {
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    background-color: #89CFF0;
    text-align: center;
    width: 105px;
    height: 50px;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
}

.status-button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#image-input {
    align-items: center;
}

.confirm-button {
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    background-color: #89CFF0;
    text-align: center;
    width: 105px;
    height: 50px;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
}

.confirm-button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#edit-machines *{
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    display: flex;
    text-align: center;
    gap: 20px;
}

#edit-machines {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 85vh;
}

h1 {
    font-size: 30px;
    text-align: center;
}

#Machine-notes {
    grid-column: 1/2;
    grid-row: 1/2;
    display: block;
    margin-left: 5%;
    align-items: center;
}

#Machine-status {
    grid-column: 2/2;
    grid-row: 1/2;
}

#Machine-image {
    grid-column: 1/2;
    grid-row: 2/2;
    margin-left: 5%;
}

#notes-textarea {
    width: 75%;
    font-size: 14px;
    padding: 10px;
    box-sizing: border-box;
}

summary::marker {
content: "";
}