ul {
    list-style-type: none;
    border-style: solid;
    border-radius: 15px;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

li{
    padding: 10px 30px 10px 30px;
    margin-left: -40px;
}

li:hover {
    background-color: whitesmoke;
}

#users {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10%;
    width: 25%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.user-list {
    display: flex;
    flex-direction: column;
    right: 10%;
    margin: 10px 0px 10px 0px;
}

details {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    background-color: #89CFF0;
}

summary::marker {
    content: "";
    }

details:hover {
    background-color: whitesmoke;
    transform: scale(1.02,1.02);
    cursor: pointer;
    border: 1px solid gray ;
}

details[open] summary {
    border-bottom: 2px solid black;
    margin: 5px 0px 5px 0px;
}

#stats {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30%;
    width: 25%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#inbox {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    left: 10%;
    bottom: 30%;
}

#add-remove-button *{
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    background-color: #89CFF0;
    text-align: center;
    width: 105px;
    height: 50px;
    font-weight: bold;
}

#add-remove-button:hover *{
    cursor: pointer;
}

#add-button {
    float: left;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

#remove-button {
    float: right;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

#machine-name {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#edit-machines {
    float: left;
    width: 500px;
    display: flex;
    text-align: center;
    float: left;
    width: 50vh;
}

.status-button {
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    background-color: #89CFF0;
    text-align: center;
    width: 105px;
    height: 50px;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
}

.status-button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#image-input {
    align-items: center;
}

.confirm-button {
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    background-color: #89CFF0;
    text-align: center;
    width: 105px;
    height: 50px;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
}

.confirm-button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#edit-machines *{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

#Machine-notes {
    right: 10%;
}

#notes-textarea {
    width: 75%;
    font-size: 14px;
    padding: 10px;
}

