/*Fonts for headers*/
header *{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

/*Fonts for body*/
body *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Aligning all heading to the center*/
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

/*Lists*/
/*Used by the machine list, and user lists*/
ul {
    list-style-type: none;
    border-style: solid;
    border-radius: 0.8vw;
    overflow: hidden;
    font-size: 15px;
    padding: 0;
}

li{
    padding: 1vh 1vw 1vh 1vw;
    text-decoration: none;
}

li:hover {
    background-color: whitesmoke;
}

a {
    width: 100%;
    text-decoration: none;
    color: black;
    display: block;
}

/*User list in the home page*/
#users {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10%;
    width: 25%;
    font-size: 20px;
}

.user-list {
    display: flex;
    flex-direction: column;
    right: 10%;
    margin: 10px 0px 10px 0px;
}

details {
    border: 1px solid black;
    border-radius: 0.8vw;
    padding: 5px 10px 5px 10px;
    background-color: #89CFF0;
}

summary::marker {
    content: "";
}

details:hover {
    background-color: whitesmoke;
    transform: scale(1.02,1.02);
    cursor: pointer;
    border: 1px solid gray ;
}

details[open] summary {
    border-bottom: 1px;
    margin: 5px 0px 5px 0px;
}

/*Stats in the home page*/
#stats {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    left: 20%;
    width: 40%;
    max-height: 800px;
    font-size: 20px;
}

#stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.charts h2 {
    display: flex;
    justify-content: center;
    position: absolute;
    max-width: 30%;
    top: 100%;
    margin: 0% 1.5% 10% 1.5%;
}

.charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    z-index: 1;
}

.charts circle {
    fill: none;
    stroke-width: 32;
}

.pie-chart {
    height: 100%;
    width: auto;
    position: absolute;
    top: 250%;
}

.background {
    stroke: #ff471a;
}

.foreground {
    stroke: #5cd65c;
}

svg{
    overflow: visible;
}

.display-stats{
    margin-left: auto;
    margin-right: auto;
    width: 6vw;
    height: 6vh;
    background-color: whitesmoke;
    z-index: 10;
    text-align: center;
    border-radius: 0.8vw;
    border: #89CFF0 solid 1px;
    margin-top: 0px;
    font-size: 20px;
    position: absolute;
    top: 380%;
}

/*Inbox in the homescreen*/
#inbox {
    flex-direction: column;
    position: absolute;
    justify-content: center;
    left: 20%;
    top: 50%;
    width: 40%;
    font-size: 20px;
}

/*Header name for the edit machines page*/
#machine-name {
    text-align: center;
    font-size: 50px;
}

/*Buttons to add and remove machines in edit machine page*/
#add-remove-button *{
    font-size: 20px;
    border-radius: 0.8vw;
    text-decoration: none;
    background-color: #89CFF0;
    text-align: center;
    width: 115px;
    height: 50px;
    margin-top: 10px;
}

#add-remove-button:hover *{
    cursor: pointer;
}

#add-button {
    margin-right: 5px;
}

#remove-button {
    margin-left: 5px;
}

/*Notes for the machine notes in edit machine page*/
#Machine-notes {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    margin: 0px 0px 0px 0px;
    left: 20%;
    width: 25%;
    font-size: 20px;
}

#notes-textarea {
    width: 75%;
    height: 20vh;
    border-width: 1px;
    border-radius: 0.8vw;
    font-size: 20px;
}

/*Changing machine status in edit machine page*/
#Machine-status {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    left: 60%;
    width: 25%;
    font-size: 20px;
}

#status-button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.status-button {
    font-size: 20px;
    border-radius: 0.8vw;
    text-decoration: none;
    background-color: #89CFF0;
    text-align: center;
    width: 105px;
    height: 50px;
}

.status-button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

/*Adding a image to the machine in edit machine page*/
#Machine-image {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    left: 20%;
    top: 45%;
    width: 25%;
    font-size: 20px;
}

#image-input {
    align-items: center;
}

#imagePreview {
    max-width: 100%;
    margin-top: 10px;
}

/*Assigning an operator to a machine in edit machine page*/
#Assign-operator {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    left: 60%;
    top: 30%;
    width: 25%;
    max-height: 600px;
    overflow: auto;
    font-size: 20px;
}

/*Confirming all the changes in edit machine page*/
#Machine-confirm {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    left: 60%;
    top: 80%;
    width: 25%;
}

#confirm-button-container {
    display: flex;
    justify-content: center;
}

.confirm-button {
    font-size: 20px;
    border-radius: 0.8vw;
    text-decoration: none;
    background-color: #89CFF0;
    text-align: center;
    width: 105px;
    height: 50px;
    margin: 0px 5px 0px 5px;
}

.confirm-button:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
