@charset "UTF-8";

.loginbody{
    background-color: #89CFF0;
}

.icons{
    display: block;
    height: 150px;
    margin-top: -20px;
}

#login{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

#login *{
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
}

input{
    display: block;
}

#loginButton{
    margin-top: 30px;
}

.iconContainer{
    width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
    background-color: #c9e7f5;
    border-radius: 50%;
    margin-bottom: 90px;
}

input[type="text"], input[type="password"]{
    font-size: 30px;
    border-radius: 15px;
    background-color: #c9e7f5;
}

#username{
    background-image: url(../Style/Images/username-icon.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 10px 0px 10px 60px;
    background-size: 34px;
}

#password{
    background-image: url(../Style/Images/lock-solid.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 10px 0px 10px 60px;
    background-size: 30px;
}

#loginButton{
    border-radius: 20px;
    font-size: 30px;
    padding: 10px 30px 10px 30px;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #c9e7f5;


    /* animation from: https://codepen.io/twhite96/embed/NVJzQW */
	text-decoration: none;
	transition: all 0.2s;
    animation: moveInBottom 5s ease-out;
	animation-fill-mode: backwards;
}


#loginButton:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

#loginButton:active{
    transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}