@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background{
    background-color: whitesmoke;
}

#header{
    width: 100%;
    height: 15vh;
    background-color: #89CFF0;

}

.linkContainer{
    width: 25%;
    float: left;
    text-align: center;
    line-height: 15vh;
}

#header a{

    width: 24.96vw;
    float: left;
    text-align: center;
    line-height: 15vh;

    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 3.5vw;
    border-bottom: 0.05vw solid black;
    border-right: 0.05vw solid black;
    color: black;
}

#header a.last{
    border-right: 0px;
}

a:hover{
    background-color: #c9e7f5;
}

#header a.selected{
    background-color: whitesmoke;
    border-bottom: 0px;
    padding-bottom: 0.04vh;
}

#stats{
    width: 60vw;
    height: 85vh;
    background-color: grey;
    border-right: 0.05vw solid black;
    float: left;
    background-color: whitesmoke;
}


#user{
    width: 39.94vw;
    height: 20vh;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.05vw solid black;
}

#overview{
    width: 39.94vw;
    height: 65vh;
    float: left;
}

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vw;
    margin-bottom: 0.05vh;
    margin-top: 2vh;
    border-bottom: 0.05vw solid grey;
}

h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw;
}

.machine-statistics{
    width: 18vw;
    height: auto;
    float: left;
    margin-left: 3vw;
    margin-bottom: 5vh;
}

#stats-container{
    margin-left: auto;
    margin-right: auto;
    width: 45vw;
    height: 75vh;
    background-color: whitesmoke;
}


.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
    margin-top: 6vh;
    z-index: 1;
}

.chart {
    width: 100%;
    height: 100%;
}

.chart circle {
    fill: none;
    stroke-width: 32;
}

.background {
    stroke: #ff471a;
}

.foreground {
    stroke: #5cd65c;
}

svg{
    overflow: visible;
}

.display-stats{
    margin-left: auto;
    margin-right: auto;
    width: 4vw;
    height: 4vh;
    background-color: whitesmoke;
    z-index: 10;
    position: relative;
    text-align: center;
    border-radius: 0.4vw;
    margin-top: -6vh;
    line-height: 4vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: .7vw;
}


.icons{
    height: 4vw;
    
}

#user-icon{
    margin-left: 2vw;
    float: left;
}

h4{
   float: left;
   width: auto;
   max-width: 16vw;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 2.5vw;
   margin: 0;
   margin-left: 1.5vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

#user a{
    margin-right: 2vw;
}

#signOutButton{
    border-radius: 1vw;
    font-size: 2vw;
    background-color: #89CFF0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../Style/Images/door-open-solid.svg);
    background-repeat: no-repeat;
    background-position: .7vw .7vw;
    background-size: 3vw;
    border: 0.1vw solid black;
    height: 8vh;
    line-height: 8vh;
    float: right;
    padding: 0 1vw 1vw 5vw;
}

#signOutButton:hover{
    background-color: #c9e7f5;
}

#user a:hover{
    transform: translateY(0.2vh);
    box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
}

#user a:active{
    transform: translateY(-1px);
	box-shadow: 0 0.1vw 1vw rgba(0, 0, 0, 0.2);
}

#overview-header{
    font-size: 2.5vw;
    padding-bottom: 2vh;
    border-bottom: 0.1vw solid lightgrey;
}

#overview-container{
    display: flex;
    flex-direction: column;
}

.new-row{
    display: flex;
    justify-content: space-between;
}

p{
    font-size: 1.3vw;
    font-family: monospace;
    margin-left: 2vw;
    margin-right: 2vw;
}

#last{
    margin-top: 2vh;
    border-top: 0.1vw solid lightgrey
}


.main{
    height: 80vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    margin-top: 3vh;
}

select{
    width: 20vw;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.main h1{
    border: 0;
}

#checklist-container{
    width: 25%;
    float: left;
    display: flex;
    flex-direction: column;
}

span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vw;
}


input[type=checkbox]{
    height: 2vh;
    width: 2vw;
    font-size: 4px;
    float: left;
    margin-top: 0.7vh;
    margin-bottom: 0.8vh;
    margin-left: 0;
}

.checkboxes{
    border-bottom: solid 0.1vw black;
}

#user-container{
    width: 25%;
    float: left;
    margin-left: 0.5%;
    display: flex;
    flex-direction: column;
}

form{
    margin-top: 5vh;
}

#message-container{
    width: 49%;
    float: right;
    display: flex;
    flex-direction: column;
}

#note-subject{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 6vh;
    box-sizing: border-box;
    font-size: 2vw;
    font-weight: bold;
    resize: none;
    border-radius: 0.8vw;
    padding: 0.75vw;
    overflow: hidden;
    line-height: 3vh;
}

#note-content{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    height: 45vh;
    box-sizing: border-box;
    font-size: 2vw;
    resize: none;
    border-radius: 0.8vw;
    padding: 0.75vw;
}

#submit-notes{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    background-color: #a0d8f3;
    border-radius: 1vw;
    height: 8vh;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../Style/Images/paper-plane-regular.svg);
    background-repeat: no-repeat;
    background-size: 3vw;
    background-position: 1.5vw .3vw;
    padding: 0 0 0 3vw;
}

#submit-notes:hover{
    transform: translateY(0.2vh);
    box-shadow: 0 0.2vw 0.5vw rgba(0, 0, 0, 0.2);
    border-radius: 1vw;
    background-color: #c9e7f5;
}

#submit-notes:active{
    transform: translateY(-1px);
	box-shadow: 0 0.1vw 1vw rgba(0, 0, 0, 0.2);
}


/* modal box taken from: https://www.w3schools.com/howto/howto_css_modals.asp
The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#error-message{
    text-align: center;
    font-size: 2vw;
}