@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
}

#header{
    width: 100%;
    height: 15vh;
    background-color: #89CFF0;

}

.linkContainer{
    width: 25%;
    float: left;
    text-align: center;
    line-height: 15vh;
}

#header a{

    width: 24.97vw;
    float: left;
    text-align: center;
    line-height: 15vh;

    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 3.5vw;
    border-bottom: 0.05vw solid black;
    border-right: 0.05vw solid black;
    color: black;
}

#header a.last{
    border-right: 0px;
}

a:hover{
    background-color: #c9e7f5;
}

#header a.selected{
    background-color: whitesmoke;
    border-bottom: 0px;
}