@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header{
    width: 100%;
    height: 15vh;
    background-color: #89CFF0;

}

.linkContainer{
    width: 25%;
    float: left;
    text-align: center;
    line-height: 15vh;
}

#header a{

    width: 24.96vw;
    float: left;
    text-align: center;
    line-height: 15vh;

    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 3.5vw;
    border-bottom: 0.05vw solid black;
    border-right: 0.05vw solid black;
    color: black;
}

#header a.last{
    border-right: 0px;
}

a:hover{
    background-color: #c9e7f5;
}

#header a.selected{
    background-color: whitesmoke;
    border-bottom: 0px;
}

#stats{
    width: 60vw;
    height: 85vh;
    background-color: grey;
    border-right: 0.05vw solid black;
    float: left;
    background-color: whitesmoke;
}


#user{
    width: 39.95vw;
    height: 20vh;
    background-color: red;
    float: left;
    background-color: whitesmoke;
}

#overview{
    width: 39.95vw;
    height: 65vh;
    background-color: yellow;
    float: left;
    background-color: whitesmoke;
}

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    margin-bottom: 0.05vh;
    margin-top: 2vh;
    border-bottom: 0.05vw solid grey;
}

h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.machine-statistics{
    width: 18vw;
    height: 33vh;
    float: left;
    margin-left: 3vw;
    margin-bottom: 3vh;
}

#stats-container{
    margin-left: auto;
    margin-right: auto;
    width: 45vw;
    height: 75vh;
    background-color: whitesmoke;
}


.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    margin-top: 60px;
    z-index: 1;
}

.chart {
    width: 140px;
    height: 140px;
}

.chart circle {
    fill: none;
    stroke-width: 32;
}

.background {
    stroke: #ff471a;
}

.foreground {
    stroke: #5cd65c;
}

svg{
    overflow: visible;
}

.display-stats{
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    background-color: whitesmoke;
    height: 50px;
    z-index: 10;
    position: relative;
    text-align: center;
    border-radius: 5px;
    margin-top: -50px;
    line-height: 50px;
    font-family: 'Courier New', Courier, monospace;
}